glow{
  color: #2B1464;
  color: #6130BC;
  color: #CC77F9;
  color: #1D0C43;
  color: #A999F4;
}
neon{
  color: #4C5DD7;
  color: #260B68;
  color: #C231C9;
  color: #1D0225;
  color: #68A2EB;
}
mate{
  color: #1c202c;
  color: #60519b;
  color: #31323e;
  color: #bfc0d1;
  
  
  color: #1e202c;
  color: #60519b;
  color: #31323e;
  color: #bfc0d1;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6130BC;
}

.navbar {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -100px;
  
}
.toggle {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #6130BC;
  cursor: pointer;
  transition: 0.5s;
  z-index: 10;
}
.toggle:hover{
  box-shadow: 0px 0px 12px rgb(255, 255, 255);
}
.toggle.active{

  transform: rotate(315deg);
}
.items{
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.items li{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.6s ease, opacity 0.3s;
  transition-delay: calc(0.05s * var(--i));
  opacity: 0;
}

.items li a{
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  color: #6130BC;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.items li a:hover{
  transform: scale(1.2);
  box-shadow: 0px 0px 12px rgb(255, 255, 255);

}

.navbar.active .items li {
  transform:  translate(-50%, -50%)
              rotate(calc(360deg / 6 * var(--i)))
              translate(120px)
              rotate(calc(-360deg / 6 * var(--i)));
  opacity: 1;
}