
:root{
  --x: 0;
  --y: 0;
  --xp: 0;
  --yp: 0;
  --hue: calc(0 + var(--xp) * 500);
  --bg: hsl(0, 0%, 0%);
  --size: 100px;
  --glow: radial-gradient(50% 50% at center,
          #6130BC,
          #6130BC,
           transparent)

          calc((var(--x) * 1px) - (var(--size) * 0.5))
          calc((var(--y) * 1px ) - (var(--size) * 0.5))
          / var(--size) var(--size) no-repeat fixed;
}


    /* body {
      min-height: 100vh;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: center;
      place-items: center;
      background: var(--bg);
      font-family: Arial, sans-serif;
    } */

    .sidenav {
      position: fixed;
      width: 100px;
      top: 0;
      left: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    button {
      position: relative;
      padding: 1rem 2rem;
      border-radius: 0.1rem;
      font-weight: 700;
      letter-spacing: 0.1ch;
      cursor: pointer;
      border: 4px solid transparent;   /* lets us do a gradient border trick */
      box-shadow: 0 1px hsl(0 0% 100% / 0.15) inset;
      background:
        /* 1) the solid button fill */
        linear-gradient(var(--bg), var(--bg)) padding-box,

        /* 2) the moving glow */
        var(--glow),

        /* 3) a dark “border” gradient behind the transparent border */
        linear-gradient(black, black) border-box;

      transition: background-size 0.24s;
      touch-action: none; /* better touch pointer tracking (no accidental scrolling) */
    }

    button::before {
  content: "";
  position: absolute; inset: 0;
  border-radius: 0.1rem;
  background: var(--bg);
  box-shadow: 0 1px hsl(0 0% 100% / 0.15) inset;
  z-index: 2; /* sits above background layers, below the text */
}

button::after {
  content: "";
  position: absolute; inset: -4px;
  border-radius: 1rem;
  background: var(--glow);
  border: 4px solid transparent;
  filter: blur(20px);   /* the soft outer glow */
}

button span {
  position: relative; z-index: 3;
  background: var(--glow), rgb(97, 48, 188);  /* glow + fallback */
  background-clip: text;
  color: white;              /* show only the background through letters */
}

:root:has(button:active) { --size: 300px; }

button:focus-visible { outline: 2px solid white; outline-offset: 2px; }


