glow{
  color: #2B1464;
  color: #6130BC;
  color: rgb(204, 119, 249);
  color: #1D0C43;
  color: #A999F4;
}
neon{
  color: #4C5DD7;
  color: #260B68;
  color: rgb(194, 49, 201);
  color: #1D0225;
  color: #68A2EB;
}
mate{
  color: rgb(28, 32, 44);
  color: #60519b;
  color: #31323e;
  color: #bfc0d1;
  
  
  color: #1e202c;
  color: #60519b;
  color: #31323e;
  color: #bfc0d1;
}