.navbar {
  position: sticky;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
.toggle {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: rgb(97, 48, 188);
  cursor: pointer;
  transition: 0.5s;
  z-index: 10;
}
.toggle:hover{
  box-shadow: 0px 0px 12px rgb(255, 255, 255);
  scale: 1.2;
}
.toggle.active{
  transform: rotate(315deg);
}
.items{
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.items li{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.6s ease, opacity 0.3s;
  transition-delay: calc(0.05s * var(--i));
  opacity: 0;
}

.items li a{
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  color: #6130BC;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.items li a:hover{
  transform: scale(1.2);
  box-shadow: 0px 0px 12px rgb(255, 255, 255);

}

.navbar.active .items li {
  transform:  translate(-50%, -50%)
              rotate(calc(360deg / 6 * var(--i)))
              translate(120px)
              rotate(calc(-360deg / 6 * var(--i)));
  opacity: 1;
}
/* .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle {

}
.toggle:hover{

}
.toggle.active{

}
.items{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type:none;
  margin: 50px 0 0 0;
}

.items li{
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 100px 0 0;
  font-size: 25px;
  marker: none;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: rgb(97, 48, 188);
  transition: 0.3s;

}
.items li:hover{
  background-color: white;
  
}

.items li a{
  color: white;
  transition: 0.3s;
}
.items li a:hover{
  color: rgb(97, 48, 188);

}

.navbar.active .items li {

} */